body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e6e6e6;
    /*background: transparent url(../img/pattern.png) repeat top left;*/
}

#logoQB{
    height: 50px;
    width: auto;
}


.header {
    margin-bottom: 30px;
    overflow: hidden;
    background-color: #5E3A73;
    -webkit-box-shadow: 0px 0px 29px 10px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 0px 29px 10px rgba(0,0,0,0.28);
    box-shadow: 0px 0px 29px 10px rgba(0,0,0,0.28);
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 50px;
}



.header a.active {
    background-color: #01CCA9;
    color: white;
    box-shadow: 0px 0px 99px -12px rgba(255,255,255,1);
}

.header a.nonactive {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.header a.nonactive:hover {
    background-color: white;
    color: black;
}

.header-right {
    float: right;
    margin-top: 1%;
}

/*@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}*/




.categorias div{
    display: inline-block;
    background-color: #e6e6e6;
    box-shadow: 0px 0px 99px -12px black;
    border-radius: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
    padding: 1%;
}

.categorias{
    text-align: center;
}

.img{
    border-radius: 30px;
    height: 200px;
    width: auto;
}
.div-img .text {
    border-radius: 30px;
    display: block;
    background-color: #5E3A73;
    color: white;
    padding-top: 13px;
    padding-bottom: 13px;
}

.div-img .text:hover{
    background-color: white;
    color: black;
}



/*---------------FORMULARIO LOGIN---------*/
.modal-header, h4, .close {
    background-color: #5E3A73;
    color:white !important;
    text-align: center;
    font-size: 30px;
}
.modal-footer {
    background-color: #e6e6e6;
}

.btn-success{
    background-color: #01CCA9;
}


/*------------FOOTER-------------*/
footer{
    clear: both;
    background-color: #5E3A73;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    -webkit-box-shadow: 0px 0px 29px 10px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 0px 29px 10px rgba(0,0,0,0.28);
    box-shadow: 0px 0px 29px 10px rgba(0,0,0,0.28);
}

footer div{
    display: inline-block;
    /*border: 1px solid white;*/
    margin: 10px;
    padding: 1%;
}


